
/* #region utility */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial;
}

img {
    max-width: 100%;
}

.text-black {
    color: black;
}

img.returnal, img.clank {
    border-radius: 1.2rem;
}

:root {
    --light: #D9DADC;
    --grey-light: #BEBCBB;
    --grey-dark: #898989;
    --dark: #202020;
    --darkness: #1F1F1F;
    --blue-light: #499BDC;
    --blue: #2D64E6;
    --blue-dark: #00439C;
    --darker: #161C3B;
    --red: #CD3D0F;
}

.ms_bg-light {
    background-color: var(--light);
}

.ms_bg-grey-light {
    background-color: var(--grey-light);
}

.c-grey-light {
    color: var(--grey-light);
}

.ms_bg-grey-dark {
    background-color: var(--grey-dark);
}

.c-grey-dark {
    color: var(--grey-dark);
}

.ms_bg-dark {
    background-color: var(--dark);
}

.ms_bg-darkness {
    background-color: var(--darkness);
}

.ms_bg-blue-light {
    background-color: var(--blue-light);
}

.c-blue-light {
    color: var(--blue-light);
}

.ms_bg-blue {
    background-color: var(--blue);
}

.c-blue {
    color: var(--blue);
}

.ms_bg-blue-dark {
    background-color: var(--blue-dark);
}

.ms_bg-darker {
    background-color: var(--darker);
}

.ms_bg-red {
    background-color: var(--red);
}

.container-slim {
    max-width: 60%;
    margin: auto;
}


/* #endregion utility */



/* #region debug */


.debug .bottom_header {
    background-color: blue;
    height: 70px;
}

.debug .break {
    background-color: aqua;
    height: 500px;
}

.debug .card_console_top {
    background-color: brown;
    height: 100px;
    border: 1px solid black;
}

.debug .card_console_center {
    background-color: brown;
    height: 500px;
    border: 1px solid black;
}

.debug .card_console_bottom {
    background-color: brown;
    height: 200px;
    border: 1px solid black;
}

.debug .takes_two {
    background-color: aqua;
    height: 500px;
}

.debug .card_news {
    background-color: brown;
    height: 250px;
    border: 1px solid black;
}

.debug .card_explore {
    background-color: brown;
    height: 350px;
    border: 1px solid black;
}

.debug .play_plus {
    background-color: chocolate;
}

.debug .card_play_plus {
    background-color: brown;
    height: 350px;
    border: 1px solid black;
}

.debug .sconti {
    background-color: darkolivegreen;
}

.debug .card_sconti{
    background-color: brown;
    height: 350px;
    border: 1px solid black;
}

.debug .play_now {
    background-color: chocolate;
}

.debug .card_play_now {
    background-color: brown;
    height: 350px;
    border: 1px solid black;
}

.debug .card_social {
    background-color: brown;
    height: 100px;
    border: 1px solid black;
}

.debug .credits {
    background-color: aqua;
}

.debug .big-card_footer {
    background-color: brown;
    height: 350px;
    border: 1px solid black;
}

.debug .small_card_footer {
    background-color: white;
    height: 350px;
    border: 1px solid black;
}


/* #endregion debug */

/* #region header */

.logo_sony {
    width:80px;
    height: 30px;
}

.login {
    margin-left: 1rem;
}

.lens {
    height: 30px;
    margin-left: 1rem;
}

/* #endregion header */

/* #region main */

/* BREAK */

.img_first_game, .img_second_game, .img_third_game {
    height: 600px;
    background-size: cover;
}

.img_first_game {
    background-image: url("../img/jumbo-bg.png");
}

.img_second_game {
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
}

/* CONSOLE */

.card_console_top img {
    transition: all .2s ease 0s;
}

.card_console_top img:hover {
    box-shadow: 10px 10px 15px black;
    transform: scale(1.4);
}

.card_console_center h6 {
    line-height: 1.5rem;
}

.card_console_bottom .blocked {
    width: 150px;
    border-bottom: 2px solid white;
    padding-bottom: 2rem;
    opacity: 0.5;
}

.card_console_bottom .sblocked {
    width: 150px;
    border-bottom: 2px solid white;
    padding-bottom: 2rem;
    border-bottom: 2px solid var(--blue-light);
    padding-bottom: 2rem;
}

.card_console_bottom .blocked:hover {
    border-bottom: 2px solid var(--blue-light);
    padding-bottom: 2rem;
    opacity: 1;
}

.btn_info {
    transition: all .4s ease 0s;
}

.btn_info:hover {
    transform: scale(1.2) ;
}

/* TAKES_TWO */

.takes_two {
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    background-size: cover;
}

.takes_logo {
    width: 200px;
}

.takes_two h3 {
    font-size: 30px;
}

.buy_now {
    transition: all .4s ease 0s;
}

.buy_now:hover {
    transform: scale(1.2);
}

/* NEWS */

.crash, .tony {
    border-radius: 1rem;
}

.news img {
    transition: all .3s ease 0s;
}

.news img:hover {
    transform: scale(1.1);
}

/* EXPLORE */

.card_explore h6 {
    line-height: 1.5rem;
}

.btn_scopri {
    border: none;
    padding: 0.7rem;
    background-color: var(--blue);
    color: white;
    transition: all .4s ease 0s;
}

.btn_scopri:hover {
    transform: scale(1.2);
}

/* PLAY_PLUS */

.btn_plus {
    transition: all .4s ease 0s;
    margin-bottom: 1rem;
}

.btn_plus:hover, .btn_now:hover {
    transform: scale(1.2);
    background-color: #2D64E6;
    color: white;
}

/* SCONTI */

.sconti img {
    width: 400px;
}

/* PLAY_NOW */

.psnow {
    width: 400px;
}

.play_now h5 {
    font-size: 17px;
}

.btn_now {
    transition: all .4s ease 0s;
    margin-bottom: 1rem;
}

/* SOCIAL */

.social img {
    width: 150px;
}

/* #endregion main */

/* #region footer */

.logo_play_footer {
    width: 150px;
}

.credits a {
    color: white;
    text-decoration: none;
}

.logo_sie {
    width: 150px;
}

.credits p a{
    text-decoration: underline;
}

/* #endregion footer */

/* responsive */

@media screen and (max-width: 577px) {

    img.psnow_none {
        display: none;
    }

    img.psplus_none {
        display: none;
    }
}

@media screen and (max-width: 990px) {
    
    .lens, .login {
        display: none;
    }
}
